@import "reset.css";



/* =============================================== main =============================================== */
.container{
    width: 100%;
}

/* ---------- nav ---------- */
.nav{
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 58px;
    background: #fff;
    border-right: 1px solid #000;
}

/* ---------- product ---------- */
.product ul{
    display: flex;
    flex-wrap: wrap;
}
.product .list_wrap{
    width: 25%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.product .list_top{
    width: 100%;
    border-bottom: 1px solid #000;
}
.product .list_top a{
    text-align:  center;
}
.product .list_top a img{
    width: 100%;
    /* object-fit: cover; */
}
.product .list_bottom{
    min-height: 150px;
    padding: 13px 15px;
}
.product .list_bottom .list_brand{
    margin-bottom: 5px;
}
.product .list_bottom .list_title{
    margin-bottom: 5px;
}
.product .list_bottom .list_pay{
    font-weight: 500; 
    margin-bottom: 5px;
}
.product .list_bottom .list_status{
    width: 70px;
}
.product .list_bottom .list_status img{
    width: 100%;}
.product_more{
    margin: 20px auto;
    text-align: center;
}
.product_more button{
    padding: 10px 30px;
    border: 1px solid #000;
}
