@import "reset.css";



/* =============================================== main =============================================== */
.container{
    width: 100%;
}

/* ---------- nav ---------- */
.nav{
    position: sticky;
    top: 61px;
}
.nav_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    background: #fff;

}
.nav_wrap .nav_left{
    width: 75%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    margin-left: 30px;
    background: #fff;
}
.nav_wrap .nav_left a{

}
.nav_wrap .nav_right{
    width: 10%;
    padding: 10px 0;
    background: #000;
}
.nav_wrap .nav_right a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: end;
    color: #fff;
}
.nav_wrap .nav_right a img{
    width: 24px;
    margin-right: 15px;
}

/* ---------- product ---------- */
.product ul{
    display: flex;
    flex-wrap: wrap;
}
.product .list_wrap{
    width: 25%;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
.product .list_top{
    width: 100%;
    border-bottom: 1px solid #000;
}
.product .list_top a{
    text-align:  center;
}
.product .list_top a img{
    width: 100%;
    /* object-fit: cover; */
}
.product .list_bottom{
    min-height: 150px;
    padding: 13px 15px;
}
.product .list_bottom .list_brand{
    margin-bottom: 5px;
}
.product .list_bottom .list_title{
    margin-bottom: 5px;
}
.product .list_bottom .list_pay{
    font-weight: 500; 
    margin-bottom: 5px;
}
.product .list_bottom .list_status{
    width: 70px;
}
.product .list_bottom .list_status img{
    width: 100%;}
.product_more{
    margin: 20px auto;
    text-align: center;
}
.product_more button{
    padding: 10px 30px;
    border: 1px solid #000;
}
